entrypoint = "index.js"
modules = ["nodejs-20", "python-3.10"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "node index.js; while true; do node index.js; done"]
deploymentTarget = "gce"
ignorePorts = false

[objectStorage]
defaultBucketID = "replit-objstore-dfc036d2-f315-4a87-877d-ec3cea3d75ed"

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 80
