entrypoint = "index.js"
modules = ["nodejs-20", "python-3.10", "web"]
hidden = [".config", "package-lock.json"]
run = "echo 'its static now'"

# for static
[hosting]
route = "/"
directory= "/public/"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "static"
ignorePorts = false
publicDir = "public"

[[deployment.rewrites]]
#from = "/*"
#to = "../*"

[[deployment.responseHeaders]]
path = "*"
name = "Access-Control-Allow-Origin"
value = "*"

[objectStorage]
defaultBucketID = "replit-objstore-dfc036d2-f315-4a87-877d-ec3cea3d75ed"

[[ports]]
localPort = 80

[[ports]]
localPort = 3001

[[ports]]
localPort = 8080
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "run all"
mode = "sequential"
author = 7458955

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js runall"
